<script src="/script/employee/employee.js"></script>
<script src="/script/department/deparment.js"></script>
<script src="/script/department-change/deparment-change.js"></script>
<style>
    .span-title{
        font-weight: bold;
        margin-left: 10px;
    }
    .hr-border{
        border: 1px solid #ddd;
    }
</style>
<div class="sub-nav">
    <ul>
        <li>
            <span class="glyphicon glyphicon-tasks"></span>
            &nbsp;&nbsp;
            <a class="item" href="#" data-trigger="tooltip" data-content="Lorem ipsum dolor">调动记录</a>
        </li>
    </ul>
</div>


<div class="container-fluid" style="margin-top: 20px">

    <div class="row-fluid row">
        <div class="col-xs-12">
            <div class="query-result" style="border: 1px solid #ddd;margin-top: 20px;background-color: white;">
                <span class="span-title">
                    条件查询
                </span>
                <form class="form-horizontal" id="querySalaryForm">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">员工号</label>

                                <div class="col-sm-6">
                                    <input type="text" maxlength="20" class="form-control positiveInteger" id="queryEmpId"
                                           name="queryEmpId">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="queryEmpName" class="col-sm-3 control-label">姓名</label>

                                <div class="col-sm-6">
                                    <input type="text" maxlength="20" class="form-control " id="queryEmpName"
                                           name="queryEmpName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="Host" class="col-sm-3 control-label"></label>

                                <div class="col-sm-6">
                                    <button type="button" onclick="depChange.fn.execQuery();" class="btn btn-primary">查询</button>
                                    <input type="reset" style="display: none">
                                </div>
                            </div>
                        </div>
##                        <div class="col-xs-6">
##                            <div class="form-group">
##                                <label for="Host" class="col-sm-3 control-label"></label>
##
##                                <div class="col-sm-6">
##                                    <button type="button" onclick="resetFormElement('queryBinlogApplyForm')" class="btn btn-primary">清空</button>
##                                </div>
##                            </div>
##                        </div>

                    </div>
                </form>
            </div>
        </div>


        <div class="col-xs-12" style="margin-top: 40px;">
                    <div class="query-result" style="border: 1px solid #ddd;background-color: white;">
                        <span class="span-title">
                            调动记录
                        </span>
                        <span class="span-title">
                            <a href="javascript:depChange.fn.showSaveDialog()" class="btn btn-sm btn-primary" style="float: right;margin-top: 7px;margin-right: 10px;margin-bottom: 7px">添加记录</a>
##                            <a href="javascript:taskSchedule.fn.selectCopyAction();" class="btn btn-sm btn-primary" style="float: right;margin-top: 7px;margin-right: 10px;margin-bottom: 7px">新增临时action</a>
                        </span>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>职工号</td>
                                <td>姓名</td>
                                <td>调动日期</td>
                                <td>调动前部门</td>
                                <td>调动前职位</td>
                                <td>调动后部门</td>
                                <td>调动后职位</td>
                                <td>调动原因</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody id="depChangeListBody">
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="9" id="depChangeListPagination"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
##
##
##
    </div>
</div>
<style>
    .form-horizontal table  tr td{
        border-top: none;
    }
    .form-control {
        border: 2px solid #bdc3c7;
        color: #34495e;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.467;
        padding: 6px 0px;
        height: 34px;
        -webkit-appearance: none;
        border-radius: 6px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
        transition: border .25s linear, color .25s linear, background-color .25s linear;
    }
</style>
<script>
    $(document).ready(function(){
        depChange.fn.execQuery();
//        salary.fn.execQuery();
//        department.fn.findAll("queryDepId");
    })

//    function resetFormElement(obj){
//        $("input[type=reset]",$("#"+obj)).trigger("click");
//        taskSchedule.fn.execGetActionList();
//    }
</script>