
    <div class="row">
        <div class="text-center ">
            <nav>
                <span class="fs14 copyright">Copyright ©2014-2015</span>
                <span class="fs14"> 超级无敌小纯洁系统 Version 1.0.0 </span>
            </nav>
        </div>
    </div>