<link href="/textillate/assets/animate.css" rel="stylesheet">
##<link href="/textillate/assets/style.css" rel="stylesheet">

<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <img src="/plug/images/chun.gif"style="width: 40px;height: 40px">
                    史上最纯洁的自动评价系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header align-center" style="position: absolute;">
            <div class="navbar-brand">
                    <div class="tlt" style="margin-top: 10px;">
                        <ul class="texts" style="display: none">
##                            <li>的复活节复活的空间发挥的 wizards make toxic brew for the evil Queen and Jack.</li>
                            <li>谢谢亲对我们的支持 我们会做得更好</li>
                            <li >亲的支持是我们前进的动力</li>
                            <li id="userInfo"></li>
##                            <li id="toDay"></li>
##                            <li>ACE后台管理系统</li>
                        </ul>
                    </div>
            </div>
##            <span class="navbar-brand">dddddddddccccccc风复古风格规划实施风风光光dddd</span>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" id="nav-user-photo" src="/plug/ace/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info" id="user-info">

								</span>

        <i class="icon-caret-down"></i>
    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
##                    <li>
##                        <a href="#">
##                            <i class="icon-cog"></i>
##                            设置
##                        </a>
##                    </li>
##
                    <li>
                        <a href="#">&nbsp;&nbsp;<i class="fa fa-jpy fa-1x"></i>&nbsp;&nbsp;&nbsp;再次续费</a>
                    </li>

##                    <li class="divider">再次续费</li>

                    <li>
                        <a href="javascript:System.fn.logout();">
                            <i class="icon-off"></i>
                            退出
                        </a>
                    </li>
    </ul>
</li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<script src="/textillate/assets/jquery.fittext.js"></script>
<script src="/textillate/assets/jquery.lettering.js"></script>
<script src="/textillate/assets/highlight.min.js"></script>
<script src="/textillate/assets/jquery.textillate.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(function (){
        var log = function (msg) {
            return function () {
                if (console) console.log(msg);
            }
        }
        $('code').each(function () {
            var $this = $(this);
                $this.text($this.html());
        })
        var viewport = $('.align-center .navbar-brand');
        var getFormData = function () {
            var data = {
                loop: true,
                in: { callback: log('in callback called.') },
                out: { callback: log('out callback called.') }
            };

            var key1 = "effect";
            var type1 = "in";
            data[type1][key1] = "fadeInLeftBig";

            var key2 = "effect";
            var type2 = "out";
            data[type2][key2] = "hinge";

            data[type1].shuffle = false;
            data[type1].reverse = false;
            data[type1].sync =false;

            data[type2].shuffle = true;
            data[type2].reverse = false;
            data[type2].sync =false;
            return data;
        };

        $('.jumbotron h1')
                .fitText(0.6)
                .textillate({ in: { effect: 'flipInY' }});

        $('.jumbotron p')
                .fitText(3.2, { maxFontSize: 18 })
                .textillate({ initialDelay: 1000, in: { delay: 3, shuffle: true } });

        setTimeout(function () {
            $('.fade').addClass('in');
        }, 5000);

        setTimeout(function () {
            $('h1.glow').removeClass('in');
        }, 10000);

        var tlt = viewport.find('.tlt')
        .on('start.tlt', log('start.tlt triggered.'))
                .on('inAnimationBegin.tlt', log('inAnimationBegin.tlt triggered.'))
                .on('inAnimationEnd.tlt', log('inAnimationEnd.tlt triggered.'))
                .on('outAnimationBegin.tlt', log('outAnimationBegin.tlt triggered.'))
                .on('outAnimationEnd.tlt', log('outAnimationEnd.tlt triggered.'))
                .on('end.tlt', log('end.tlt'));

        var obj = getFormData();
        tlt.textillate(obj);

    });

</script>

<style>
    .align-center{
        position:fixed;
        left:38%;
        /*top:50%;*/
        margin-left:width/3;
        /*margin-top:height/2;*/
    }
    .navbar {
        margin-left: 0;
        margin-right: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        min-height: 60px;
        position: relative;
        background: #438eb9;
    }
    .ace-nav>li {
        line-height: 50px;
        height: 65px;
        border-left: 1px solid #DDD;
        padding: 0;
        position: relative;
        float: left!important;
    }

    .navbar .navbar-brand {
        color: #fff;
        font-size: 24px;
        text-shadow: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    .user-info {
        max-width: 100px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        vertical-align: top;
        line-height: 20px;
        position: relative;
        top: 15px;
    }
    .ace-nav .nav-user-photo {
        margin: 15px 10px 0 0;
        border-radius: 100%;
        border: 2px solid #FFF;
        max-width: 40px;
    }

</style>