<div class="container" style="margin-top: 5%">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon" style="margin-top: 35px">
                <img src="/plug/images/login/icon.png" alt="Welcome to Mail App">
            </div>
            <div class="login-form">

                <div class="text-center" style="color: #1abc9c">
                    <h1>企业人事管理系统</h1>
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" value="" placeholder="Enter your name" id="login-name">
                    <label class="login-field-icon fui-man-16" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="form-control" value="" placeholder="Password" id="login-pass">
                    <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                </div>

                <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
                <a class="login-link" href="#">Lost your password?</a>
            </div>
            <div class="row">
                <div class="text-center ">
                    <nav>
                        <span class="fs14 copyright">Copyright ©2014-2015</span>
                        <span class="fs14"> 人事管理系统 Version 1.0.0 </span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>