<script type="text/javascript" src="/plug/echarts/echarts-plain.js"></script>
<script type="text/javascript">
    var charUrl = "/salary/getSalaryImage";
    //ajax post  json请求       url：请求地址 ；  data:请求参数  ；successFun:请求成功回调函数
    function ajaxSync(url,data,successFun,errorFun){
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            async:false,
            cache:false,
            dataType: "json",
            success: function (data) {
                successFun(data);
            },
            error: function (data) {
            }
        });
    }
    function getChart(){
        function callback(data){
            if(data.success){
                $("#main").append('<div class="row" style="margin-top: 10px"><div class="col-xs-12  lineImage" id="viewLine" style="width: 1000px;height: 400px"></div></div>');
                var myChart = echarts.init(document.getElementById("viewLine"));
                myChart.setOption(data.data.data);

            }
        }
        ajaxSync(charUrl,{},callback,null);
    }
    $(document).ready(function(){
        getChart();
    })
</script>
<style>
    .span-title{
        font-weight: bold;
        margin-left: 10px;
    }
    .hr-border{
        border: 1px solid #ddd;
    }
</style>
<div class="sub-nav">
    <ul>
        <li>
            <span class="glyphicon glyphicon-tasks"></span>
            &nbsp;&nbsp;
            <a class="item" href="#" data-trigger="tooltip" data-content="Lorem ipsum dolor">员工薪资统计</a>
        </li>
    </ul>
</div>


<div class="container-fluid" style="margin-top: 10%;margin-left: 20%;">
    <div id="main" class="row-fluid row">
    </div>
</div>
<style>
    .form-horizontal table  tr td{
        border-top: none;
    }
    .form-control {
        border: 2px solid #bdc3c7;
        color: #34495e;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.467;
        padding: 6px 0px;
        height: 34px;
        -webkit-appearance: none;
        border-radius: 6px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
        transition: border .25s linear, color .25s linear, background-color .25s linear;
    }
</style>
