<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="true">
<!-- ===================================================================== -->
<!-- 以下是appender的定义 -->
<!-- ===================================================================== -->
<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %C{1},%L - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="FATAL " />
    </filter>
</appender>

<appender name="PROJECT" class="com.taobao.common.AdvancedDailyRollingFileAppender">
    <!--<param name="file" value="${log.home}/squirrel/squirrel-adapter" />-->
    <param name="file" value="${log.home}/rate-log" />
    <param name="append" value="false" />
    <param name="encoding" value="UTF-8" />
    <param name="threshold" value="INFO" />
    <param name="maxBackupIndex" value="5"/>
    <!--<param name="DatePattern" value="'-'yyyy-MM-dd-HH'.log'" />-->
    <param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %C{1},%L - %m%n" />
    </layout>
</appender>


    <!--  操作日志配置   -->
    <appender name="BROWSE_IP" class="com.taobao.common.AdvancedDailyRollingFileAppender">
        <param name="file" value="${log.home}/browse-log" />
        <param name="append" value="false" />
        <param name="Encoding" value="UTF-8" />
        <param name="threshold" value="INFO" />
        <param name="maxBackupIndex" value="5"/>
        <param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %C{1},%L - %m%n" />
        </layout>
    </appender>

    <!-- ===================================================================== -->
    <!-- 以下是binlog Skip日志的定义  -->
    <!-- ===================================================================== -->
    <logger name="browseIpLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="BROWSE_IP" />
    </logger>


<!-- ===================================================================== -->
<!-- Root logger的定义 -->
<!-- ===================================================================== -->
<root>
    <level value="INFO" />
    <appender-ref ref="PROJECT" />
   <!-- <appender-ref ref="CONSOLE" />  -->
</root>
</log4j:configuration>