<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title  smaller lighter blue"><%=data.title%></h4>
      </div>
      <div class="modal-body">
        <div class="bordered" style="max-height: 500px">
          <div class="alert alert-info">
            <%=data.message%>
            <br>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="subBtn<%=data.randomDialogId%>" class="btn btn-primary" data-dismiss="modal">确定</button>
        <button type="button" id="closeBtn<%=data.randomDialogId%>"  class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>