
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                </button>
                <h4 class="modal-title" id="myModalLabel">关联京东宝贝</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="hidden" name="numIid" id="numIid" value="<%=data.numIid%>">
                            <input type="hidden" name="tbPrice" id="tbPrice" value="<%=data.tbPrice%>">
                            <form class="form-horizontal" id="searchJdProductForm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label style="text-align: left" for="skuId" class="col-sm-2 control-label">商品ID: </label>

                                            <div class="col-sm-9">
                                                <input type="text" maxlength="20" placeholder="回车进行搜索" class="form-control" id="skuId"
                                                       name="skuId">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-xs-6">-->
                                        <!--<div class="form-group">-->
                                            <!--<button class="btn btn-info btn-sm" type="button" onclick="Product.fn.execJdList();">-->
                                                <!--<i class="icon-search bigger-110"></i>-->
                                                <!--搜索-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>

                                <div class="space-4"></div>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
                <!-- /.page-header -->
                <h3 class="header smaller lighter green" style="margin-top: 50px;"></h3>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label style="text-align: left" for="skuId" class="col-sm-2 control-label">差价: </label>
                                    <div class="col-sm-6">
                                        <input type="text" maxlength="20" placeholder="变更区间差价" class="form-control" id="differenceOfPrices"
                                               name="differenceOfPrices">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top: 10px;">
                                <div class="table-responsive">
                                    <table id="sample-table-2" style="word-break:break-all; word-wrap:break-word;" class="table table-striped table-bordered table-hover">
                                        <thead >
                                        <tr style="background-color: #6fb3e0!important">
                                            <th class="center" style="width: 5%">
                                                <label>
                                                    <!--<input type="checkbox" class="ace" onclick="Rate.fn.checkAll(this)" id="tradeIdsTmp" />-->
                                                    <!--<span class="lbl"></span>-->
                                                    选择
                                                </label>
                                            </th>
                                            <th style="width: 7%">商品Id</th>
                                            <!--<th style="width: 10%">商品图片</th>-->
                                            <th style="width: 20%">商品名称</th>
                                            <!--<th style="width: 9%">商品价格</th>-->
                                            <!--<th style="width: 10%">更新时间</th>-->
                                            <!--<th style="width: 10%">操作</th>-->
                                        </tr>
                                        </thead>
                                        <tbody id="searchJdProductListBody">
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="3" id="searchJdProductListPagination"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.page-content -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Product.fn.addJd(<%=data.randomDialogId%>);" class="btn btn-primary">添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    //    $('textarea.limited').inputlimiter({
    //        remText: '还能输入 %n  个字符',
    //        limitText: '最多可输入%n 个字符'
    //    });
</script>
<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f4f6f6;
        border-color: #d5dbdb;
        color: #34495e;
        cursor: default;
        opacity: 1;
        filter: alpha(opacity=70);
    }
    .modal-footer {
        padding: 19px 20px 20px;
         margin-top: -10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
</style>








