<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}

    function alertDialog(){
        common.fn.showConfirmMessage("测试","ceshi success",function(){
            alert(1);
        },function(){
            alert(2);
        });
    }
    function dialog(){
        function readyFun(){
            alert(1);
        }
        var data = {};
        data.title = "haha"
        common.fn.showDialog("/script/salary/ejs/addSalary.ejs",data,null,readyFun);
    }
</script>

    <div class="main-container-inner">
        <div class="main-content">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Inbox
                        <small>
                            <i class="icon-double-angle-right"></i>
                            Mailbox with some customizations as described in docs
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Text Field </label>

                                            <div class="col-sm-9">
                                                <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password Field </label>

                                            <div class="col-sm-9">
                                                <input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" />
                                                    <span class="help-inline col-xs-12 col-sm-7">
                                                        <span class="middle">Inline help text</span>
                                                    </span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Readonly field </label>

                                            <div class="col-sm-9">
                                                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="This text field is readonly!" />
                                                    <span class="help-inline col-xs-12 col-sm-7">
                                                        <label class="middle">
                                                            <input class="ace" type="checkbox" id="id-disable-check" />
                                                            <span class="lbl"> Disable it!</span>
                                                        </label>
                                                    </span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4">Relative Sizing</label>

                                            <div class="col-sm-9">
                                                <input class="input-sm" type="text" id="form-field-4" placeholder=".input-sm" />
                                                <div class="space-2"></div>

                                                <div class="help-block" id="input-size-slider"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-5">Grid Sizing</label>

                                            <div class="col-sm-9">
                                                <div class="clearfix">
                                                    <input class="col-xs-1" type="text" id="form-field-5" placeholder=".col-xs-1" />
                                                </div>

                                                <div class="space-2"></div>

                                                <div class="help-block" id="input-span-slider"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Input with Icon</label>

                                            <div class="col-sm-9">
                                                    <span class="input-icon">
                                                        <input type="text" id="form-field-icon-1" />
                                                        <i class="icon-leaf blue"></i>
                                                    </span>

                                                    <span class="input-icon input-icon-right">
                                                        <input type="text" id="form-field-icon-2" />
                                                        <i class="icon-leaf green"></i>
                                                    </span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-6">Tooltip and help button</label>

                                            <div class="col-sm-9">
                                                <input data-rel="tooltip" type="text" id="form-field-6" placeholder="Tooltip on hover" title="Hello Tooltip!" data-placement="bottom" />
                                                <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="More details." title="Popover on hover">?</span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">Tag input</label>

                                            <div class="col-sm-9">
                                                <input type="text" name="tags" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                            </div>
                                        </div>

                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn btn-info" type="button" onclick="alertDialog();">
                                                    <i class="icon-ok bigger-110"></i>
                                                    Submit
                                                </button>

                                                &nbsp; &nbsp; &nbsp;
                                                <button class="btn" type="reset" onclick="dialog();">
                                                    <i class="icon-undo bigger-110"></i>
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div>

<!-- 更改背景颜色等 -->
##        <div class="ace-settings-container" id="ace-settings-container">
##    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
##        <i class="icon-cog bigger-150"></i>
##    </div>
##
##    <div class="ace-settings-box" id="ace-settings-box">
##        <div>
##            <div class="pull-left">
##                <select id="skin-colorpicker" class="hide">
##                    <option data-skin="default" value="#438EB9">#438EB9</option>
##                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
##                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
##                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
##                </select>
##            </div>
##            <span>&nbsp; Choose Skin</span>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
##            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
##            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
##            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
##            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
##            <label class="lbl" for="ace-settings-add-container">
##                Inside
##                <b>.container</b>
##            </label>
##        </div>
##    </div>
##</div><!-- /#ace-settings-container -->
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->