<script src="/script/auto-rate-log/auto-rate-log.js"></script>
<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    $(document).ready(function(){
        AutoLog.fn.execList();
        $("#tradeId").keydown(function(e){
            if(!e)e=window.event;
            if((e.keyCode||e.which)==13){
                e.preventDefault();
                AutoLog.fn.execList()
            }
        });
        $("#buyerNick").keydown(function(e){
            if(!e)e=window.event;
            if((e.keyCode||e.which)==13){
                e.preventDefault();
                AutoLog.fn.execList()
            }
        });
    })

</script>

<style>
    .Wdate {
        border: #999 1px solid;
         height: 34px;
        background: #fff url(datePicker.gif) no-repeat right;
    }
</style>


##<div class="main-container-inner">
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    自动评价日志
                    <small>
                        <i class="icon-double-angle-right"></i>
                        可以查看30天以内的通过本系统评价的日志
                    </small>
                </h1>
            </div>


##            <div class="row">
            <div class="col-xs-12" style="margin-top: 15px;">
##                    <h3 class="header smaller lighter blue">搜索</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" id="autoRateLogForm">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label style="text-align: left" for="name" class="col-sm-3 control-label">交易号: </label>

                                            <div class="col-sm-6">
                                                <input type="text" maxlength="16" class="form-control positiveInteger" id="tradeId"
                                                       name="tradeId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label style="text-align: left" for="name" class="col-sm-3 control-label">买家昵称: </label>
                                            <div class="col-sm-6">
                                                <input type="text" maxlength="20" class="form-control" id="buyerNick"
                                                       name="buyerNick">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label style="text-align: left" for="name" class="col-sm-3 control-label" for="form-field-select-1">开始时间:</label>
                                            <div class="col-sm-6">
                                                <input  type="text" id="startTime" name="startTime" class="form-control  Wdate  "  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label style="text-align: left" for="name" class="col-sm-3 control-label" for="form-field-select-1">结束时间:</label>
                                            <div class="col-sm-6">
                                                <input  type="text" id="endTime" name="endTime" class="form-control  Wdate  "  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <button class="btn btn-info btn-sm" type="button" onclick="AutoLog.fn.execList();">
                                                <i class="icon-search bigger-110"></i>
                                                搜索
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
##            </div><!-- /.row -->

            <!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="header smaller lighter blue">自动评价日志列表</h3>
##                            <div class="table-header">
##                                Results for "Latest Registered Domains"
##                            </div>
                            <div class="table-responsive">
                                <table id="sample-table-2" style="word-break:break-all; word-wrap:break-word;" class="table table-striped table-bordered table-hover">
                                    <thead >
                                        <tr style="background-color: #6fb3e0!important">
                                            <th style="width: 13%">交易ID</th>
                                            <th style="width: 20%">商品名称</th>
                                            <th style="width: 7%">实付金额</th>
                                            <th style="width: 10%">评价方式</th>
                                            <th style="width: 7%">评价结果</th>
                                            <th style="width: 15%">评价时间</th>
                                            <th style="width: 13%">对方昵称</th>
                                            <th style="width: 35%">评价内容</th>
                                        </tr>
                                    </thead>
                                    <tbody id="autoRateLogListBody">

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8" id="autoRateLogListPagination"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>
<!-- 更改背景颜色等 -->
##        <div class="ace-settings-container" id="ace-settings-container">
##    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
##        <i class="icon-cog bigger-150"></i>
##    </div>
##
##    <div class="ace-settings-box" id="ace-settings-box">
##        <div>
##            <div class="pull-left">
##                <select id="skin-colorpicker" class="hide">
##                    <option data-skin="default" value="#438EB9">#438EB9</option>
##                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
##                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
##                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
##                </select>
##            </div>
##            <span>&nbsp; Choose Skin</span>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
##            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
##            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
##            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
##            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
##            <label class="lbl" for="ace-settings-add-container">
##                Inside
##                <b>.container</b>
##            </label>
##        </div>
##    </div>
##</div><!-- /#ace-settings-container -->
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
##</div><!-- /.main-container -->