<script src="/script/rate/rate.js"></script>
<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    $(document).ready(function(){
        Rate.fn.execBatchList();
        $("#buyerNick").keydown(function(e){
            if(!e)e=window.event;
            if((e.keyCode||e.which)==13){
                e.preventDefault();
                Rate.fn.execBatchList();
            }
        });
    })

</script>


##<div class="main-container-inner">
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    手动批量评价
                    <small>
                        <i class="icon-double-angle-right"></i>
                        可以查询30天以内的订单并且手动批量评价它们(注意:根据淘宝规定,距离订单结束日期超过15天后不能评价!)
                    </small>
                </h1>
            </div>


##            <div class="row">
            <div class="col-xs-12" style="margin-top: 15px;">
##                    <h3 class="header smaller lighter blue">搜索</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" id="getBatchRateOrderForm">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label style="text-align: left" for="buyerNick" class="col-sm-3 control-label">买家昵称: </label>

                                            <div class="col-sm-6">
                                                <input type="text" maxlength="20" class="form-control" id="buyerNick"
                                                       name="buyerNick">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label style="text-align: left" for="rateStatus" class="col-sm-3 control-label" for="form-field-select-1">评价状态:</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="rateStatus"  name="rateStatus" onchange=" Rate.fn.execBatchList();">
                                                    <option value="RATE_UNSELLER">卖家未评</option>
##                                                    <option value="RATE_BUYER_UNSELLER">买家已评，卖家未评</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <button class="btn btn-info btn-sm" type="button" onclick=" Rate.fn.execBatchList();">
                                                <i class="icon-search bigger-110"></i>
                                                搜索
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
##            </div><!-- /.row -->

            <!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="header smaller lighter blue">
                                未评价订单列表
                                <button class="btn btn-sm btn-pink" type="button" style="float: right;margin-left: 10px;"  onclick="Rate.fn.showBatchRateInfoDialog('all');">一键评价所有订单</button>
                                <button class="btn btn-sm btn-success" type="button" onclick="Rate.fn.showBatchRateInfoDialog('select');" style="float: right">一键评价勾选订单</button>

                            </h3>
##                            <div class="table-header" style="float: left">
##                                Results for "Latest Registered Domains"
##                            </div>

                            <div class="table-responsive">
                                <table id="sample-table-2" style="word-break:break-all; word-wrap:break-word;" class="table table-striped table-bordered table-hover">
                                    <thead >
                                        <tr style="background-color: #6fb3e0!important">
                                            <th class="center">
                                                <label>
                                                    <input type="checkbox" class="ace" onclick="Rate.fn.checkAll(this)" id="tradeIdsTmp" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>
                                            <th style="width: 13%">交易ID</th>
                                            <th style="width: 30%">商品名称</th> <!-- 数量 实付金额 -->
                                            <th style="width: 7%">买家状态</th>
                                            <th style="width: 10%">实付金额</th>
                                            <th style="width: 18%">交易时间</th>
                                            <th style="width: 13%">买家</th>
                                            <th style="width: 15%">剩余评价时间</th>
                                        </tr>
                                    </thead>
                                    <tbody id="batchRateOrderListBody">

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8" id="batchRateOrderListPagination"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>
<!-- 更改背景颜色等 -->
##        <div class="ace-settings-container" id="ace-settings-container">
##    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
##        <i class="icon-cog bigger-150"></i>
##    </div>
##
##    <div class="ace-settings-box" id="ace-settings-box">
##        <div>
##            <div class="pull-left">
##                <select id="skin-colorpicker" class="hide">
##                    <option data-skin="default" value="#438EB9">#438EB9</option>
##                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
##                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
##                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
##                </select>
##            </div>
##            <span>&nbsp; Choose Skin</span>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
##            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
##            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
##            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
##            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
##        </div>
##
##        <div>
##            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
##            <label class="lbl" for="ace-settings-add-container">
##                Inside
##                <b>.container</b>
##            </label>
##        </div>
##    </div>
##</div><!-- /#ace-settings-container -->
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
##</div><!-- /.main-container -->