<script src="/script/rate/rate.js"></script>
<div class="main-container" id="main-container">
<div class="main-content">
    <div id="page-content" class="page-content">


</div>
</div>
    </div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
<script>
    $(document).ready(function(){
        Rate.fn.initAutoRateSetting();
    })
</script>
